body {
  font-family: 'Arial', sans-serif;
  /* font-family: 'Poppins', 'roboto'; */
  background-color: #f8f9fc;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
.header img {
  height: 80px;
}
.header button {
  background: transparent;
  border: 1px solid #1877F2;
  color: #1877F2;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  max-width: 100%;
}
.header button:hover {
  background: #1877F2;
  color: white;
}
.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.forgot-password__box {
  background: #f8f7fc;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}
.forgot-password__title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.forgot-password__subtitle {
  color: #313131;
  font-size: 14px;
  margin-bottom: 20px;
}
.forgot-password__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.forgot-password__input-container {
  position: relative;
  display: flex;
  align-items: center;
}
.forgot-password__icon {
  position: absolute;
  top: 14px;
  left: 20px;
  color: #777;
  font-size: 16px;
}
.forgot-password__input {
  width: 100%;
  padding: 12px 43px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 16px;
}
.forgot-password__button {
  background-color: #c2c2c2;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}
.forgot-password__button:hover {
  background-color: #212121;
}
.forgot-password__divider {
  margin: 20px 0;
  font-size: 14px;
  color: #212121;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
}
.forgot-password__divider::before,
.forgot-password__divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #c2c2c2;
  margin: 0 10px;
}
.forgot-password__button--facebook,
.forgot-password__button--google {
  display: block;
  width: 100%;
}
.forgot-password__button--facebook {
  background-color: #1877f2;
}
.forgot-password__button--facebook:hover {
  background-color: #155dbb;
}
.forgot-password__button--google {
  background-color: #fff;
  color: #313131;
  border: 1px solid #ddd;
  margin-top: 10px;
}
.forgot-password__button--google:hover {
  background-color: #f1f1f1;
}
.forgot-password__button i {
  margin-right: 10px;
  font-size: 20px;
}


