
.reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.reset-password__box {
    background: #f8f7fc;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.reset-password__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.reset-password__subtitle {
    color: #313131;
    font-size: 14px;
    margin-bottom: 20px;
}

.reset-password__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reset-password__input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.reset-password__icon {
    position: absolute;
    top: 14px;
    left: 20px;
    color: #777;
    font-size: 16px;

}
.reset-password__input {
    width: 100%;
    padding: 12px 43px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 16px;
}

.reset-password__button {
    background-color: #c2c2c2;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.reset-password__button:hover {
    background-color: #212121;
}